#about-content {
    display: flex;
    align-items: center;
    gap: 10rem;
    width: 85%;
}

#about-main-container {
    flex: 1;

    animation-name: slide-up-short, fade-in;
    animation-duration: 1s, 400ms;
    animation-timing-function: ease;
}

#about-heading {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#about-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#contact-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

#contact-info {
    font-size: 1.2rem;
}


#about-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3rem;
}

#about-image-1 {
    flex: 10;
    height: 80%;
    background-image: url("../assets/img/man-cooking.jpg");
    background-size: cover;

    animation-name: slide-from-right, fade-in;
    animation-duration: 800ms, 300ms;
    animation-timing-function: ease-out;
}

#about-image-2 {
    flex: 9;
    height: 60%;
    background-image: url("../assets/img/gourmet-food.jpg");
    background-size: cover;

    animation-name: slide-from-right, fade-in;
    animation-duration: 1000ms, 300ms;
    animation-timing-function: ease-out;
}