:root {
    --olive-green: #4D5649;
}

* {
    color: white;
}

body {
    background-color: var(--olive-green);
    padding: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header button {
    background: none;
    border: none;
}