@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-Italic-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-style: italic;
}

@keyframes slide-from-left {
    from {
        transform: translateX(-10%);
    } to {
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(10%);
    } to {
        transform: translateX(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(20%);
    } to {
        transform: translateY(0);
    }
}

@keyframes slide-up-short {
    from {
        transform: translateY(5%);
    } to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-20%);
    } to {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

:root {
    --olive-green: #4D5649;
}

* {
    font-family: "Cormorant Garamond";
    color: white;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--olive-green);
    padding: 1.5rem;

    transition: background-color 300ms ease;
}

.body-home {
    background-image: url("../assets/img/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

.body-menu {
    background-color: #FDF8F4;
}

.body-menu * {
    font-weight: 600;
    color: #5B2709;
}

.body-about {
    background-color: var(--olive-green);
}

#site-name {
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header button {
    background: none;
    border: none;
}

header button:hover {
    cursor: pointer;
}

nav {
    display: flex;
    gap: 2rem;
}

nav button {
    transition: all 300ms ease;
}

nav button:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

#content {
    flex: 1;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

#credit {
    display: flex;
}

#credit svg {
    width: 1.2rem;
    fill: white;
}

.image-attribution {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    font-style: italic;
}

.image-attribution a {
    text-decoration: none;
}

.image-attribution a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

@media (max-width: 992px) {  
    footer {
        justify-content: center;
        margin-top: 9rem;
        margin-bottom: 1rem;
    }

    .image-attribution {
        text-align: center;
        position: absolute;
        bottom: 5rem;
        right: 50%;
        transform: translateX(50%);
    }
    
    .image-attribution a {
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}