@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../assets/fonts/CormorantGaramond-Italic-VariableFont_wght.ttf");
    font-weight: 300 700;
    font-style: italic;
}

:root {
    --olive-green: #4D5649;
}

* {
    font-family: "Cormorant Garamond";
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--olive-green);
    padding: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header button {
    background: none;
    border: none;
}

header button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#credit {
    display: flex;
}

#credit svg {
    width: 1.2rem;
    fill: white;
}

