body {
    background-image: url("../assets/img/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

#blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}