#menu-content {
    width: 100%;
    display: flex;
    gap: 2rem;
}

#menu-images-container {
    width: 40%;
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
}

#menu-images-container > * {
    height: 80%;
}

#menu-image-1 {
    flex: 1;
    align-self: start;
    background-image: url("../assets/img/dining-table.jpg");
    background-size: cover;
    background-position: center;

    animation-name: slide-up, fade-in;
    animation-duration: 800ms, 500ms;
    animation-timing-function: ease-out, ease;
}

#menu-image-2 {
    flex: 1;
    align-self: end;
    background-image: url("../assets/img/croissant.jpg");
    background-size: cover;
    background-position: center;

    animation-name: slide-down, fade-in;
    animation-duration: 800ms, 500ms;
    animation-timing-function: ease-out, ease;
}

#menu-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 2rem;
    column-gap: 3rem;
    row-gap: 1rem;
    place-content: center;

    animation-name: slide-up-short, fade-in;
    animation-duration: 1000ms, 300ms;
    animation-timing-function: ease;
}

#menu-heading {
    font-size: 2rem;
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.category-heading {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 12px;
}

.item-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-name {
    font-size: 1.3rem;
    font-weight: 700;
}

.item-price {
    font-size: 1.3rem;
    text-align: right;
}

.item-description {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    font-weight: lighter;
    font-size: 0.8rem;
    grid-column: span 2;
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
}

@media (max-width: 992px) {  

    #menu-content {
        flex-direction: column;
        align-items: center;
    }

    #menu-images-container {
        height: 80vh;
        width: 80%;
    }

    #menu-container {
        row-gap: 5rem;
    }

    #menu-container * {
        grid-column: span 2;
    }
}
